/* Work sans Fonts from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@400;500;600;700;800&display=swap");

/* Shared styles */

* {
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
  /* margin: 0; */
}

.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 20px 25px;
  cursor: pointer;
  border: 0;
}

.common-description {
  color: #727272;
  margin-bottom: 2rem;
  /* border: 2px solid rebeccapurple; */
}

.common-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}

/* Header Style */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 230px;
  margin-bottom: 5.3rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 30px;
  font-size: 1rem;
  font-weight: 500;
}

nav li a {
  text-decoration: none;
  color: #424242;
}

.nav-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}

/* Banner styles */

.banner {
  /* border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center; */
}

.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.banner img {
  width: 100%;
}

/* Main styles */

main {
  max-width: 1440px;
  margin: 0 auto;
}

/* Team Styles */

.team-container {
  display: flex;
  align-items: center;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.team-content {
  padding-left: 4.7rem;
  padding-right: 4.7rem;
}

.team-title {
  color: #131313;
  font-size: 2.8rem;
  width: 29.25rem;
}

.team-title .quick-list {
  color: #727272;
  font-size: 2.8rem;
  font-weight: 500;
  font-weight: 700;
}

.team-title .text-features {
  color: #ff900e;
  font-size: 2.8rem;
  font-weight: 700;
}

/* Features Section */

.features {
  margin-top: 8.125rem;
  display: flex;
  gap: 11.75rem;
}

.feature-title {
  color: #131313;
  font-size: 2.8125rem;
  font-weight: 700;
  border-left: 0.4rem solid #ff900e;
  padding-left: 1.25rem;
}

.feature-description {
  color: #727272;
  font-weight: 400;
  margin-bottom: 3.75rem;
}

.feature-card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 2rem;
  margin-bottom: 1.25rem;
}

.feature-card-title {
  color: #131313;
  font-size: 1.25rem;
  font-weight: 600;
}

.feature-img {
  height: 100%;
}

.feature-card-description {
  color: #727272;
  font-weight: 400;
}

.ten-years-badge {
  border-radius: 8px;
  background: #ff900e;
  padding: 2.875rem 2.625rem;
  width: 21.375rem;
  text-align: center;
  position: relative;
  bottom: 120px;
  right: 130px;
}

.ten-years-badge h2 {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
}

.ten-years-badge p {
  color: #fff;
  font-size: 1.5625rem;
  font-weight: 500;
  margin: 1rem 0;
}

/* Facts section */

.facts-card-container {
  display: flex;
  justify-content: space-around;
}

.card {
  text-align: center;
  border-radius: 8px;
  border: 1px solid #ff900e;
  padding: 2.8rem;
}

.cards-stats {
  color: #424242;
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 0.625rem;
  margin-bottom: 0.3125rem;
}

/* Sponsor style */

.sponsor {
  text-align: center;
}

.sponsor-image-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3.125rem;
  align-items: center;
  gap: 2rem;
}

/* Footer styles */

footer {
  max-width: 1440px;
  margin: 8.125rem auto 6.71875rem auto;
  text-align: center;
}

.copyright {
  border-radius: 8px;
  background: #fff4e7;
  padding: 2.5rem 25.625rem;
  color: #424242;
  font-size: 1.25rem;
  font-weight: 400;
}

/* Responsive Media Query */
/* Small devices */

@media screen and (max-width: 576px) {
  header {
    padding: 5%;
  }

  nav,
  .team-container,
  .features,
  .facts-card-container,
  .sponsor-image-container {
    flex-direction: column;
  }

  .team-img-container {
    grid-template-columns: 1fr;
  }

  .team-content {
    padding: 1rem;
  }

  .team-title {
    width: 23rem;
  }

  .feature-img img {
    width: 100%;
  }

  .ten-years-badge {
    position: static;
    max-width: 17.4rem;
  }

  .facts-card-container {
    padding: 1rem;
    gap: 1rem;
  }

  .sponsor-image-container {
    align-items: center;
    gap: 2rem;
  }

  .sponsor-image-container img {
    width: 10.625rem;
  }

  .copyright {
    padding: 2rem;
  }
}

/* Medium devices */

@media screen and (min-width: 576px) and (max-width: 992px) {
  nav,
  .team-container,
  .features,
  .sponsor-image-container {
    flex-direction: column;
  }

  /* .ten-years-badge {
    position: static;
    max-width: 17.4rem;
  } */

  .feature-img {
    margin-left: 120px;
  }
  .ten-years-badge {
    margin-left: 30px;
  }

  .facts-card-container {
    gap: 1rem;
  }

  .copyright {
    padding: 2.5rem;
  }
}
